.footer {
  background-color: $color-grey-darkest;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-grey-dark;

  @include respond(tab-land) {
    padding: 5rem 0;
  }

  &__logo-box {
    display: flex;
    justify-content: center;
  }

  &__logo {
    height: auto;
  }

  &__navigation {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  &__copyright {
    text-align: justify;
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    width: 80%;
    float: right;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }
}
